.mat-dialog-container {
    width: 100%;
}

mat-dialog-content {
    padding: 20px;
    width: 400px;
}

mat-dialog-actions {
    justify-content: flex-end;
    margin-top: 20px;
}

textarea {
    width: 100%;
    height: 50px;
}