.login-form-container {
    background-color: white;
    border: #ededf5 1px solid;
    height: 100vh;
}

.login-form {
    background-color: white;
    padding: 30px 50px;
    width: 30%;
    margin: 100px auto;
    border: #FF5733 1px solid;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #FF5733;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.container {
    padding: 16px;
}

.cancel-button-div {
    text-align: right;
    width: 100%;
}