.login-container {
    display: flex;
    height: 100vh;
}

.login-image {
    width: 50%;
    // background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

.login-page {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
}

button {
    // width: 100%;
    margin: 20px;
    margin-left: 40%;
}

.login-image img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
}

mat-card {
    width: 80%;
    height: 60vh;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 40px 40px hwb(0 4% 7% / 0.1);
    background-color: hwb(120 99% 1%);
    align-items: center;
}

mat-card-header {
    text-align: center;
    margin: 30px;
    margin-bottom: 40px;
}

mat-card-title {
    font-size: 2.5rem;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

mat-form-field {
    width: 100%;
    margin-top: 20px;
    // background: hwb(120 99% 1%);
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

small {
    color: red;
    font-weight: bold;
}

mat-card.VALID {
    border: green 1px solid;
}

mat-card.INVALID {
    border: red 1px solid;
}

mat-card.PENDING {
    border: orange 1px solid;
}