@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto+Mono:ital,wght@0,300;1,300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


* {
    font-family: "Dosis", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    padding: 0 10px;
    color: #28282B;
    cursor: pointer;
}

[clickable] {
    cursor: pointer;
}

.mat-mdc-input-element:-webkit-autofill,
.mat-mdc-input-element:-webkit-autofill:hover,
.mat-mdc-input-element:-webkit-autofill:focus,
.mat-mdc-input-element:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #d7d5d5e6 inset !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex input {
    color: #333;
    border: none;
    outline: none;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-label {
    color: #666;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex input:focus {
    border-color: #0a0a0a;
    box-shadow: 0 0 0 2px rgba(1, 1, 1, 0.25);
}

::ng-deep .mat-form-field .mat-form-field-flex input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
    box-shadow: none;
}

::ng-deep .mat-form-field .mat-form-field-flex input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}