<div class="forgot-password-container">
    <app-snackbar *ngIf="errorMessage" [errorMessage]="errorMessage"></app-snackbar>
    <div class="forgot-password-image">
        <img src="../assets/authentication/login.jpg" alt="Forgot Password Image">
    </div>
    <div class="forgot-password-page">
        <mat-card [ngClass]="formStatus">
            <mat-card-header>
                <mat-card-title> Forgot Password </mat-card-title>
            </mat-card-header>
            <app-authentication-loader *ngIf="isLoading"></app-authentication-loader>
            <mat-card-content>
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()">
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" name="email" type="email">
                    </mat-form-field>
                    <small
                        *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">*Username
                        or Email is required</small>
                    <button type="button" class="send-otp-button" clickable (click)="onSentOptButtonClicked()" [disabled]="hideButton">
                        Send OTP
                    </button>

                    <div *ngIf="hideButton">
                        Countdown: {{ formatCountdown() }}
                    </div>

                    <mat-form-field appearance="fill">
                        <mat-label>OTP</mat-label>
                        <input matInput formControlName="otp" name="opt" type="number">
                    </mat-form-field>
                    <small *ngIf="forgotPasswordForm.get('otp')?.invalid && forgotPasswordForm.get('opt')?.touched">
                        *Valid otp is required</small>

                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="forgotPasswordForm.invalid">Reset Password</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
