.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 5px;
    font-size: larger;
}
img {
    height: 10vh;
}
.recipe-logo,
.profile {
    font-family: 'Concert One', cursive;
}

.profile {
    display: flex;
    align-items: center;
}

.profile {
    margin-right: 10px;
    padding-top: 16px;
}

p {
    margin-top: 12px;
}
.profile-image {
    border-radius: 50%;
    height: 40px;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
}
