<ul class="nav flex-column">
    <hr>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">
            Dashboard
        </a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">
            Users
        </a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/recipes" routerLinkActive="active">
            Recipes
        </a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/report/recipes" routerLinkActive="active">
            Reported Recipes
        </a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/report/comments" routerLinkActive="active">
            Reported Comment
        </a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/report/users" routerLinkActive="active">
            Reported User
        </a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/categories" routerLinkActive="active">
            Categories
        </a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/cuisines" routerLinkActive="active">
            Cuisines
        </a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/transactions" routerLinkActive="active">
            Transactions
        </a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/profile" routerLinkActive="active">
            Profile
        </a>
    </li>
    <hr>
</ul>
