.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

h2 {
    color: #333;
    /* Change color as needed */
}

mat-card {
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-details {
    display: flex;
    flex-direction: column;
}

.detail-row {
    display: flex;
    justify-content:baseline;
    margin-bottom: 10px;
}

.detail-label {
    margin-left: 5px;
    font-weight: bold;
    width: 40%;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content:center;
}

button {
    margin-right: 20px;
}

* {
    color: black;
    // background-color: white;
}

img {
    border-radius: 50%;
    height: 100px;
    align-items: center;
    margin-top: 5px;
}


button{
    margin: 20px;
    border: 1px black solid;
    color: white;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.2);
}

.ingredient-label {
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

.ingredient-value {
    color: #666;
}

hr {
    border-color: brown;
}

.mat-divider{
    border-top-width: 3px;
    // border-top-style: dashed;
    border-color: #333;
    margin: 5px;
}