<app-snackbar *ngIf="errorMessage" [errorMessage]="errorMessage"></app-snackbar>
<button mat-button color="primary" (click)="onCreateClicked()">+Add New Category</button>
<div style="display: flex;">
    <mat-form-field class="example-full-width">
        <mat-label>Search</mat-label>
        <input matInput #message maxlength="256" placeholder="Ex. Search Category..">
        <mat-hint align="start"><strong>Search </strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
</div>
<div class="mat-elevation-z8">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="S.No">
                <th mat-header-cell *matHeaderCellDef> S.NO</th>
                <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }}</td>
            </ng-container>

            <ng-container matColumnDef="Category Name">
                <th mat-header-cell *matHeaderCellDef> Category Name</th>
                <td mat-cell *matCellDef="let element"> {{ element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="Total Recipe Posted">
                <th mat-header-cell *matHeaderCellDef> Total Recipe Posted</th>
                <td mat-cell *matCellDef="let element"> {{ element.count }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="showDetail(row.id)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator1 [length]="paginator1.length" [pageIndex]="paginator1.pageIndex"
            [pageSize]="paginator1.pageSize" [pageSizeOptions]="[2, 5, 10, 20]" [showFirstLastButtons]="true"
            (page)="loadPage($event.pageIndex, $event.pageSize)">
        </mat-paginator>
    </div>