<div class="recipe-details-container" *ngIf="recipe">

    <!-- Header Section -->
    <mat-card-header class="header-container">
        <div mat-card-avatar class="profile-image">
            <img class="profile-image" [src]="recipe.user?.profileImageUrl">
        </div>
        <div class="header-content">
            <mat-card-title>{{ recipe.user?.usernameValue }}</mat-card-title>
        </div>
        <mat-menu #menu="matMenu" class="menu-button" matMenuPosition="above">
            <button *ngIf="recipe.user?.id === userId" mat-menu-item clickable (click)="onUpdateClick(recipe.id)">Update</button>
            <button *ngIf="recipe.user?.id === userId" mat-menu-item clickable (click)="onDeleteRecipe(recipe.id)">Delete</button>
            <button *ngIf="recipe.user?.id !== userId" mat-menu-item clickable (click)="onReportUser(recipe.user?.id)">Report User</button>
            <button *ngIf="recipe.user?.id !== userId" mat-menu-item clickable (click)="onReportRecipe(recipe.id)">Report Recipe</button>
            <button *ngIf="recipe.user?.id !== userId" mat-menu-item clickable (click)="onSaveRecipe(recipe.id)">Save</button>
            <button *ngIf="recipe.user?.id !== userId" mat-menu-item clickable (click)="onBookNowClick(recipe.id)">Book Now</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-card-header>
    <app-snackbar [errorMessage]="errorMessage" *ngIf="errorMessage"></app-snackbar>

    <!-- Recipe Header Section -->
    <div class="recipe-header">
        <div class="image-container">
            <img [src]="recipe.photo" alt="{{ recipe.title }}">
        </div>
        <div class="text-container">
            <h1>{{ recipe.title }}</h1>
            <p>{{ recipe.description }}</p>
            <button mat-button color="warn"  *ngIf="recipe.user?.id !== userId" clickable (click)="onBookNowClick(recipe.id)">Book Now</button>
        </div>
    </div>

    <!-- Instructions Section -->
    <div class="recipe-instructions">
        <h2>Instructions</h2>
        <p>{{ recipe.instructions }}</p>
    </div>

    <div class="recipe-comments" id="bookmark">
        <h2>Comments</h2>
        <form (ngSubmit)="postComment()" class="comment-header" *ngIf="userDetail">
            <img class="comment-avatar" [src]="userDetail.profileImageUrl" alt="User Avatar">
            <mat-form-field appearance="fill" class="comment-input" style="width: 90%;">
                <textarea matInput placeholder="Write your comment" [(ngModel)]="newCommentText" name="newComment"
                    required></textarea>
            </mat-form-field>
            <button mat-button color="primary" type="submit" style="font-size: 20px;">Post</button>
        </form>
        <ul>
            <li *ngFor="let comment of recipeComments">
                <!-- Comment Header -->
                <div class="comment-header">
                    <img class="comment-avatar" [src]="comment.profileImageUrl" alt="User Avatar">
                    <div class="comment-info">
                        <p class="comment-username">{{ comment.username }}</p>
                        <p class="comment-date">{{ comment.commentDate | date:'medium' }}</p>
                    </div>

                    <mat-menu #commentMenu="matMenu">
                        <button mat-menu-item clickable (click)="onLikeComment(comment.id)">Like</button>
                        <button mat-menu-item clickable (click)="onReportComment(comment.id)">Report Comment</button>
                        <button mat-menu-item clickable (click)="onReportUser(comment.userId)">Report User</button>
                        <button *ngIf="comment.userId === userId" mat-menu-item clickable (click)="onDeleteComment(comment.id)">Delete</button>
                    </mat-menu>
                    <button mat-icon-button [matMenuTriggerFor]="commentMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
                <p class="comment-text">{{ comment.text }}</p>
                <button mat-icon-button>
                    <mat-icon>thumb_up</mat-icon>
                </button>
            </li>
        </ul>
    </div>

</div>