.container {
    max-width: 400px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 4px;
}

input,
mat-radio-button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    margin-top: 16px;
    font-size: 18px;
    width: max-content;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content:flex-start;
    gap: 10px;
}

small {
    color: red;
    font-weight: bold;
}

mat-card.VALID {
    border: green 1px solid;
}

mat-card.INVALID {
    border: red 1px solid;
}

mat-card.PENDING {
    border: orange 1px solid;
}