<ul class="nav flex-column">
    <hr>
    <li class="nav-item">
        <a class="nav-link" routerLink="/moderator/dashboard" routerLinkActive="active">
            Dashboard
        </a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link" routerLink="/moderator/report/recipes" routerLinkActive="active">
            Reported Recipes
        </a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link" routerLink="/moderator/report/comments" routerLinkActive="active">
            Reported Comment
        </a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link" routerLink="/moderator/report/users" routerLinkActive="active">
            Reported User
        </a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link" routerLink="/moderator/profile" routerLinkActive="active">
            Profile
        </a>
    </li>
    <hr>
</ul>
