<div class="container">
    <h2>Cuisine Detail</h2>
    <div *ngIf="cuisineDetail">
        <mat-card>
            <mat-card-content>
                <div class="user-details">

                    <div class="detail-row">
                        <div class="detail-label">Cuisine Name</div>
                        <div class="detail-value">{{ cuisineDetail.name }}</div>
                    </div>

                    <div class="detail-row">
                        <div class="detail-label">Total Post Count</div>
                        <div class="detail-value">{{ cuisineDetail.count }}</div>
                    </div>
                    <div class="button-container">
                        <button mat-raised-button color="primary">Update</button>
                        <button mat-raised-button color="warn">Cancel</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="!cuisineDetail">
        <p>No Cuisine selected.</p>
    </div>
</div>

<div class="mat-elevation-z8">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="S.No">
                <th mat-header-cell *matHeaderCellDef> S.NO</th>
                <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }}</td>
            </ng-container>

            <ng-container matColumnDef="Profile">
                <th mat-header-cell *matHeaderCellDef> Profile</th>
                <td mat-cell *matCellDef="let element"> <img [src]=" element.profileImageUrl" clickable (click)="showUserDetail(element.userId)" /></td>
            </ng-container>

            <ng-container matColumnDef="Username">
                <th mat-header-cell *matHeaderCellDef> Username</th>
                <td mat-cell *matCellDef="let element"> {{ element.username }}</td>
            </ng-container>

            <ng-container matColumnDef="Title">
                <th mat-header-cell *matHeaderCellDef> Title</th>
                <td mat-cell *matCellDef="let element"> {{ element.title }}</td>
            </ng-container>

            <ng-container matColumnDef="Date Created">
                <th mat-header-cell *matHeaderCellDef> Date Created</th>
                <td mat-cell *matCellDef="let element"> {{ element.dateCreated | date }}</td>
            </ng-container>

            <ng-container matColumnDef="Category">
                <th mat-header-cell *matHeaderCellDef> Category</th>
                <td mat-cell *matCellDef="let element"> {{ element.category }}</td>
            </ng-container>

            <ng-container matColumnDef="Cuisine">
                <th mat-header-cell *matHeaderCellDef> Cuisine</th>
                <td mat-cell *matCellDef="let element"> {{ element.cuisine }}</td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row clickable (click)="showDetail(row.recipeId)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator [length]="paginator.length" [pageIndex]="paginator.pageIndex"
            [pageSize]="paginator.pageSize" [pageSizeOptions]="[2, 5, 10, 20]" [showFirstLastButtons]="true"
            (page)="loadPage($event.pageIndex, $event.pageSize)">
        </mat-paginator>
    </div>
