button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    height: 50px;
    width: 50px;
    padding-bottom: 6px;
    background-color: orange;
}

body {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.left-section,
.right-section {
    width: 25%;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    height: 100vh;
}

.center-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-items: center;
    overflow-y: auto;
}

.left-section::-webkit-scrollbar,
.right-section::-webkit-scrollbar,
.center-section::-webkit-scrollbar {
    width: 0.5em;
}

.left-section::-webkit-scrollbar-thumb,
.right-section::-webkit-scrollbar-thumb,
.center-section::-webkit-scrollbar-thumb {
    background-color: transparent;
}

app-header {
    position: sticky;
    top: 0;
    z-index: 1000;
}