/* user-profile.component.scss */

.container {
    display: flex;
    height: 100vh;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.left-section {
    flex: 0 0 300px;
    position: fixed;
    width: 22%;
    top: 60px;
    bottom: 0;
    overflow-y: auto;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    background-color: #eeeee8;
    color: #333;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-section div {
    text-align: center;
}

.left-section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.left-section p {
    font-size: 1.5rem;
    margin: 10px 0;
}

.left-section p:nth-child(odd) {
    color: #555;
}

.left-section p:nth-child(even) {
    color: #4caf50;
    font-weight: bold;
}

.center-section {
    flex-grow: 1;
    margin-left: 320px;
    margin-top: 60px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    background-color: #f0f0f0;
    color: #333;
}

.center-section::-webkit-scrollbar {
    width: 12px;
}

.center-section::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.center-section {
    height: 100%;
}

body, html {
    overflow: auto;
}

.profile-label {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}

.profile-value {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #555;
}

.follower-count,
.following-count {
    font-weight: bold;
}

.center-section {
    position: relative;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    height: 50px;
    width: 50px;
    padding-bottom: 6px;
    background-color: rgb(243, 74, 74);
}

.profile-info {
    position: relative;
}

.profile-image-container {
    position: relative;
    display: inline-block;
}

.edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.profile-image-container:hover .edit-icon {
    display: block;
}

profile-image:hover{
    opacity: 0.1;
}