<app-header class="header"></app-header>
<div class="container">
    <div class="left-section">
        <div *ngIf="userProfile">
            <div>
                <div class="profile-info">
                    <div class="profile-image-container" (mouseenter)="showEditButton = true"
                        (mouseleave)="showEditButton = false">
                        <img [src]="userProfile.profileImageUrl" alt="Profile Image" class="profile-image">
                        <mat-icon *ngIf="showEditButton" class="edit-icon" [routerLink]="['/user/profile/edit']" routerLinkActive="router-link-active" >edit-button</mat-icon>
                    </div>
                    <div>
                        <div class="profile-label" clickable (click)="showFollowers()">Followers:</div>
                        <div class="profile-value" clickable (click)="showFollowers()">{{ followersList?.length || 0}}</div>

                        <div class="profile-label" clickable (click)="showFollowing()">Following:</div>
                        <div class="profile-value" clickable (click)="showFollowing()">{{ followingList?.length || 0}}</div>

                        <div class="profile-label" clickable (click)="showPosts()">Total Posts:</div>
                        <div class="profile-value" clickable (click)="showPosts()">{{ totalPost || 0}}</div>

                        <div class="profile-label">Username</div>
                        <div class="profile-value">{{ userProfile.usernameValue }}</div>

                        <div class="profile-label">Wallet</div>
                        <div class="profile-value">{{ userProfile.wallet | currency: 'INR'}}</div>

                        <div class="profile-label">Name</div>
                        <div class="profile-value">{{ userProfile.firstName }} {{ userProfile.lastName }}</div>

                        <div class="profile-label">Gender</div>
                        <div class="profile-value">{{ userProfile.gender }}</div>

                        <div class="profile-label">Email</div>
                        <div class="profile-value">{{ userProfile.email }}</div>

                        <div class="profile-label">Contact</div>
                        <div class="profile-value">{{ userProfile.contact }}</div>

                        <div class="profile-label">Joined on</div>
                        <div class="profile-value">{{ userProfile.createdAt | date }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!userProfile">
            <p>Loading user profile...</p>
        </div>
    </div>
    <div class="center-section">
        <router-outlet></router-outlet>
        <button mat-fab color="primary" class="floating-button" (click)="onCreateRecipeClicked()">+</button>
    </div>
</div>