<div class="form-container">
    <div class="form-title">Update Profile</div>

    <form [formGroup]="updateUserForm" (submit)="onUpdateFormSubmitted()">

        <div class="form-group">
            <label for="profileImage">Profile Image</label>
            <img *ngIf="imagePreview" [src]="imagePreview" alt="Profile Image" class="uploaded-image">
            <input type="file" id="profileImage" (change)="onFileSelected($event)" accept="image/*">
        </div>

        <div class="form-group">
            <label for="username">Username:</label>
            <input matInput type="text" id="username" name="username" formControlName="usernameValue" />
        </div>

        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input matInput type="text" id="firstName" name="firstName" formControlName="firstName" />
            <div *ngIf="updateUserForm.get('firstName')?.hasError('noSpaceAllowed')">
                <small>No space allowed</small>
            </div>
            <small
                *ngIf="updateUserForm.get('firstName')?.hasError('required') && updateUserForm.get('firstName')?.touched">
                *First Name is required
            </small>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input matInput type="text" id="lastName" name="lastName" formControlName="lastName" />
            <div *ngIf="updateUserForm.get('lastName')?.hasError('noSpaceAllowed')">
                <small>No space allowed</small>
            </div>
            <small
                *ngIf="updateUserForm.get('lastName')?.hasError('required') && updateUserForm.get('lastName')?.touched">
                *Last Name is required
            </small>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input matInput type="email" id="email" name="email" formControlName="email" />
        </div>

        <div class="form-group">
            <label for="gender">Gender:</label>
            <mat-radio-group aria-label="Select a Gender" formControlName="gender">
                <mat-radio-button value="MALE">MALE</mat-radio-button>
                <mat-radio-button value="FEMALE">FEMALE</mat-radio-button>
                <mat-radio-button value="NONE">Prefer not to say</mat-radio-button>
            </mat-radio-group>
            <small *ngIf="updateUserForm.get('gender')?.hasError('required') && updateUserForm.get('gender')?.touched">
                *Gender is required
            </small>
        </div>

        <div class="form-group">
            <label for="role">Role:</label>
            <mat-radio-group aria-label="Select a Role" formControlName="role">
                <mat-radio-button value="ADMIN">ADMIN</mat-radio-button>
                <mat-radio-button value="MODERATOR">MODERATOR</mat-radio-button>
                <mat-radio-button value="USER">USER</mat-radio-button>
            </mat-radio-group>
            <small *ngIf="updateUserForm.get('role')?.hasError('required') && updateUserForm.get('role')?.touched">
                *Role is required
            </small>
        </div>

        <div class="form-group">
            <label for="contact">Contact:</label>
            <input matInput type="tel" id="contact" name="contact" formControlName="contact" />
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input matInput type="password" id="password" name="password" formControlName="password" />
            <small
                *ngIf="updateUserForm.get('password')?.hasError('required') && updateUserForm.get('password')?.touched">
                *Password is required
            </small>
        </div>

        <button type="submit" class="btn-primary" [disabled]="updateUserForm.invalid">Update Profile</button>
        <button type="button" class="btn-danger" routerLink="/admin/profile">Cancel</button>
    </form>
</div>