app-snackbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.show-message {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.not-verified {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.app-load {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}